/* Estilos da navbar */
.navbar {
    background-color: #619c5f; 
    color: #fff; 
}
  
.navbar-text {
    padding: 10px 20px; 
    margin-right: 10px; 
    font-size: 18px; 
    text-decoration: none; 
    cursor: pointer; 
    font-family: cursive;
}
  
.navbar-text:hover {
    background-color: #619c5f;
}
  