.title {
    font-family: cursive;
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    color: black;
}

.conteudo {
    color: black;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Edu SA Beginner", cursive;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}